.home .banner,
.home .site-header {
  
    
    color: #000000
}

.home .banner{
  width: auto;
  max-width: 1150px;
  min-width: 320px;
  margin: auto;
  justify-content: center;
    background-image: url('/images/pages/大方楼1.png');
    background-repeat: repeat;
    background-repeat: cover;
}


.home .banner .collection-head {
    color: #000000;
    background: 0 0;
    box-shadow: none;
    -webkit-box-shadow: none}

.home .site-header {
    border-bottom: none
}

.home .site-header h1 a {
    color: #000000
}

.home .site-header .site-header-nav-item {
    color: rgba(36, 36, 36, 0.981)
}

.home .site-header .site-header-nav-item:hover {
    color: #3888ce
}


@media (max-width:50em) {
  .home .collapsed .icon-bar {
    background-color: rgb(32, 21, 187);
  }

  .home .collection-head .collection-header {
    font-size: 1.25em;
  }
}


.box1 {
  width: auto;
  max-width: 1100px;
  min-width: 320px;
  margin: auto;
  justify-content: center;
  font-size: 1.2em;
  text-align: justify;
  white-space: normal;
  padding: 50px;
}


.box1 h1 {
  font-family: 'Times New Roman', Times, serif;
  color: #000;
  font-size: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  line-height: 2px;
  }

  .box3 {
    width: auto;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
    justify-content: center;
    font-size: 14px;
    text-align: justify;
    white-space: normal;
  }

  @media (max-width:50em){
    .box1  {
      font-size: 1.2em;
    }
    .box3{
      font-size: 1em;
    }
  }

.index1{
  width: 1000px;
  justify-content: center;
}
